.slider1{
    background-image: url(https://img.freepik.com/premium-photo/juicy-burger-beef-grilled-burger-burger-close-up-cheeseburger-fries-drink-copyspace_1135385-22317.jpg);
    width: 100%;
    height: 630px;
}